body{
	padding:0;
	margin:0;
	font-size: 14px;
}
body,div,ul,li,a,span,div,p,nav,aside,section,main,button,input,select,table,tr,th,td{
	font-family: 微软雅黑;
}
*{
	box-sizing:border-box;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
	height: 0;
}
.container{
	padding: 10px;
}
.wall{
	position: relative;
	height: 200px;
	overflow: hidden;
}
.wall nav,
.wall .input{
	height: 200px;
}
.wall>.scroll{
	position: absolute;
	top: 0;
	left: 0;
	transition:top .2s;
}
.wall>.scroll.open{
	top: -200px;
}
.wall>.scroll.close{
	top: 0;
}
.input{
	/*width: 538px;*/
	/*margin: auto;*/
	width: 100%;
	display: block;
}
.input input{
	/*float: left;*/
	margin-top: 10px;
}
.input input[type=url],
.input input[type=text],
.input select{
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid #cecece;
	border-radius: 2px;
	/*outline-color: #fff;*/
}
.input select{
	margin-right: 50px;
    height: 33px;
	border-radius: 2px 0 0 2px;
}
/*.input input[type=submit]*/
.btn{
	width: 100%;
	padding: 7px 5px;
	font-size: 16px;
	border:0;
	border-radius: 2px;
	color: #fff;
	outline: none;
	background-color: #3da1ff;
}
.btn:hover{
	/*border-bottom: 2px solid #2488e6;*/
	background-color: #2488e6;
}
.btn[disabled=disabled]{
	background-color: #cecece !important;
	cursor: not-allowed;
}
.select-wrapper{
	position: relative;
	z-index: 1;
}
.select-wrapper>div,
.selector-wrapper .selector{
	margin-right: 30px;
}
.select-wrapper>button,
.selector-wrapper button{
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0;
    width: 30px;
    height: 100%;
    border-radius: 0 2px 2px 0;
    background-color: #3da1ff;
    color: #fff;
    outline: none;
}
.selector-wrapper .c-name{
    padding: 7px 10px;
    margin-right: 31px;
}
.selector-wrapper .c-remove{
	border-radius: 0;
}
.bookmark .icon{
	width:20px;
	height:20px;
    position: absolute;
    left: 5px;
    top: 8px;
    border:0;
}
.bookmark span.title{
	margin-left: 25px;
}
table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}
table tr{
	border:1px solid #cecece;
}
table td,
table th{
	padding:8px 5px;
	position: relative;
}
table td span,
table td a{
	display: block;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/*width: 100%;*/
}
.content{
	margin-left: 200px;
}
aside{
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	background: #1f82b5;
	height: 100%;
}
aside:before{
	content: '';
	width: inherit;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: inherit;
	z-index: -1;
}
nav{
	padding: 20px 0 20px 0;
}
.user-img+div button{
	margin-top: .4em;
}
.user-img{
	border:2px solid #fff;
	box-shadow: 0 1px 5px #555;
	margin: auto;
	display: block;
	height: 150px;
	width: 150px;
	margin-bottom: 2em;
	margin-top: 2em;
	border-radius: 50%;
}
nav a{
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
nav a.active,
nav a:hover{
	background-color: #fff;
	color: #1f82b5;
}
.r-container{
	perspective:1000px;
}
.r-container .r-card{
	position: relative;
	margin-top: 10px;
	height: 33px;
}
.r-card .select-wrapper,
.r-card .selector-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    background: #1f82b5;
}
.r-card .selector-wrapper{
    transform: rotateX(180deg);
}
.r-card .select-wrapper select,
.r-card .selector-wrapper input{
	margin: 0;
    border-radius: 2px 0 0 2px;
}
.selector input{
	width: 100%;
}
.selector ul{
	display: none;
	position: absolute;
    top: 33px;
    left: 0;
    background: #fff;
    width: 100%;
}
.selector ul li{
    position: relative;
    /*border-bottom: 1px solid #cecece;*/
}
/*animation*/
.flip-pos{
	animation:uptodown .2s forwards;
}
.flip-nag{
	animation:downtoup .2s forwards;
}
@keyframes uptodown{
	from {
		transform:rotateX(0deg);
	}
	to{
		transform:rotateX(180deg);	
	}
}
@keyframes downtoup{
	from {
		transform:rotateX(180deg);	
	}
	to{
		transform:rotateX(0deg);
	}
}