#{extends 'main.html' /}
#{set title:'bookmark' /}

<aside>
	<img src="/public/images/psb.jpg" alt="" class="user-img">
	<div>
		<!-- <button ng-click="showForm()" class="btn">登录</button> -->
		<button ng-click="showForm()" class="btn"><div ng-bind="scrollText"></div></button>
	</div>
	<div class="wall">
		<div class="scroll" ng-class="{open:wallScroll,close:!wallScroll}">
			<nav>
				<ul>
					<li><a href="/" class="active">首页</a></li>
					<li><a href="/">分类</a></li>
					<li><a href="/">分析</a></li>
				</ul>	
			</nav>
			<div class="input container">
				<form ng-submit="form.submit()" name="urlForm">
					<input type="text" placeholder="描述" ng-model="form.description" ng-required>
					<input type="url" placeholder="网址" ng-model="form.url" ng-required>
					<div class="r-container">
						<div class="r-card" ng-class="{'flip-pos':flip,'flip-nag':!flip}">
							<div class="select-wrapper" ng-style="{'z-index':flip?0:1}">
								<div>
									<select ng-model="form.category" ng-required>
										<option value="" selected="true" disabled="true">分类</option>	
										<option ng-repeat="category in categories track by $index" value="{{category.id}}">
											{{category.name}}
										</option>
									</select>
								</div>
								<button type="button" ng-click="flipToCategory()">→</button>
							</div>
							<div class="selector-wrapper">
								<div class="selector">
									<input type="text" id="newCategory" ng-model="newCategory.name" placeholder="请输入分类" ng-focus="showCategories()" ng-blur="hideCategories()">
									<ul tabindex="-1" ng-focus="showCategories()" ng-blur="hideCategories()" ng-style="{'display':presentCategories?'block':'none'}">
										<li ng-repeat="category in categories">
											<div class="c-name" ng-click="selectCategory(category)">{{category.name}}</div>
											<button type="button" class="c-remove" ng-click="removeCategory(category.id)">x</button>
										</li>
									</ul>
								</div>
								<button type="button" ng-click="addOrEditCategory()">←</button>
							</div>					
						</div>
					</div>
					<input type="submit" class="btn" value="添加" disabled="true" ng-disabled="!form.url||!form.description||!form.category">
				</form>
			</div>		
			
		</div>
		<!-- <button ng-click="showForm()" class="btn">注册</button> -->
		
	</div>
</aside>
<section class="content">
	<main>
		<table>
			<thead>
				<tr>
					<!-- <th style="width: 8%;">图标</th> -->
					<th style="width: 33%;">标题</th>
					<th style="width: 30%;">链接</th>
					<th style="width: 25%;">描述</th>
					<th style="width: 12%;">分类</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="url in urls track by $index" class="bookmark">
					<!-- <td></td> -->
					<td><img data-ng-src="{{url.icon||'#'}}" class="icon"><span class="title" data-ng-bind="url.title"></span></td>
					<td><a href="{{url.url}}" data-ng-click="addCount(url.id)" target="_blank" data-ng-bind="url.url"></a></td>
					<td><span data-ng-bind="url.description"></span></td>
					<td><span data-ng-bind="url.categoryName"></span></td>
					<!-- <td><span data-ng-bind="url.available | avail"></span></td> -->
				</tr>
			</tbody>
		</table>
	</main>

</section>