<!DOCTYPE html>

<html lang="zh-cn">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        #{get 'moreStyles' /}
        <link href="//cdn.bootcss.com/angular-material/1.1.1/angular-material.min.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body class="container" data-ng-app="bookmark" data-ng-controller="bookmarkController">
        #{doLayout /}
        
        <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
        <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-animate.min.js"></script>

        <script type="text/javascript" src="/public/javascripts/index.js"></script>
        #{get 'moreScripts' /}
    </body>
</html>
